@mixin flex-center($direction: "both"){
    display: flex;
    @if $direction == "horizontal" {
        justify-content: center;
    }@else if $direction == "vertical"{
        align-items: center;
    } @else {
        justify-content: center;
        align-items: center ;
    }
}