@use "./variabiles" as*;

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}

img{
    max-width: 100%;
}

html{
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

// UTILITIES

.d-flex{
    display: flex;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.btn_red{
background-color: $red_btn;
color: white;
border:none;
padding: 0.3rem 0.5rem;
}
